<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Contacto</title>
</head>
<body>
<!-- Header -->
<%- include('./partials/header.ejs') %> 
<!-- Main -->
<div class="contacto" >
    
    <!-- <i class="far fa-times-circle"></i>!-->
    <form action="/contacto" method="POST" class="contact-form">
        <h3>Contactate con nosotras!</h3>
                <div class="form-floating mb-2">
                <input type="text" name= "name" class="form-control" id="contactoNombre" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>">
            </input>
                <label for="ContactoNombre">Nombre y Apellido:</label>
                <% if (locals.errors && errors.name){ %>
                    <div style="color: red;">
                     <%= errors.name.msg %>
                    </div>
                    <% } %>
            </div>
            <div class="form-floating mb-2">
                <input type="email" name= "email" class="form-control" id="contactoEmail" placeholder="Email" value="<%= locals.oldData ? oldData.mail : null %>">
            </input>
                <label for="ContactoEmail">Email:</label>
                <% if (locals.errors && errors.email){ %>
                    <div style="color: red;">
                     <%= errors.email.msg %>
                    </div>
                    <% } %>
            </div>
            <div class="form-floating mb-2">
                <input type="tel" name= "telephone" class="form-control" id="contactotel" placeholder="Telephone" value="<%= locals.oldData ? oldData.telephone : null %>">
            </input>
                <label for="ContactoTel">Numero de Telefono:</label>
                <% if (locals.errors && errors.telephone){ %>
                    <div style="color: red;">
                     <%= errors.telephone.msg %>
                    </div>
                    <% } %>
            </div>
            <div class="form-floating">
                <textarea name = 'message' class="form-control" placeholder="Leave a comment here" id="floatingTextarea" rows="50" cols="150" style="height: 160px !important;" value="<%= locals.oldData ? oldData.message : null %>"></textarea>
                <label for="floatingTextarea">Tu mensaje</label>
                <% if (locals.errors && errors.message){ %>
                    <div style="color: red;">
                     <%= errors.message.msg %>
                    </div>
                    <% } %>
              </div>
            <!-- <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea" rows="50" cols="150" placeholder="Message" value="<%= locals.oldData ? oldData.message : null %>">
                </textarea>
                <label for="floatingTextarea">Tu Mensaje:</label>
               
            </div> -->

            <div class="enviar">
                <button type="submit">Enviar</button>
            </div>
            <br>
            <div class="enviar">
                <button type="reset">Borrar Datos</button>
            </div>
        </form>
        <!-- <div id="map" ></div> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d228.1151270249844!2d-64.17060589824693!3d-31.40247243079306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432980cc6c0dba5%3A0xcd010d5f909c8514!2sCochabamba%201282%2C%20X5004%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1633269496789!5m2!1ses-419!2sar" width="600" height="400" style="border:0; margin-top: 30px;" allowfullscreen="" loading="lazy"></iframe>

    </div>
<!-- Footer -->
<%- include('./partials/footer.ejs') %>     

<script src="../js/js-form.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
</body>
</html>