<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Perfil</title>
</head>
<body>
<!-- Header -->
<%- include('../partials/header') %> 
<!-- Main -->

    <section class="perfil">
        <img src="/img/<%=user.avatar %> " alt="" class="foto-de-perfil" >

        <div style="padding-left: 25px;">
            <h4>Nombre:</h4>
            <h5><%=user.name + " " + user.last_name%> </h5>
            <br>
            <h4>Email:</h4>
            <h5><%=user.email %> </h5>
            <br>
            <button class="btn btn-primary product-button" type="button" id="button-perfil">Editar Datos</button>
        </div>
    </section>

<!-- Footer -->
<%- include('../partials/footer') %>     
</body>
</html>
