<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>Edición de producto</title>
</head>
<body>
<!-- Header -->
<%- include('../partials/header.ejs') %> 
<!-- Main -->
    <div class="product-form-box" >

        <!--<i class="far fa-times-circle"></i>!-->
        <h3>Editar Producto</h3>
        <form action="/products/editar/<%=productoAEditar.id%>?_method=PUT" method="POST" class="product-form" enctype="multipart/form-data">
                <div class="form-floating mb-2">
                <input type="text" name= "name" class="form-control" id="registroNombre" placeholder="Nombre" value="<%= productoAEditar.name %>"></input>
                <label for="registroNombre">Nombre:</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" name= "price" class="form-control" id="registroPrecio" placeholder="Precio" value="<%= productoAEditar.price %>"></input>
                <label for="registroPrecio">Precio:</label>
            </div>
            
            <div>
                <select class="form-select" aria-label="Tipo Producto">
                    <option selected>Seleccionar Categoria</option>
                    <option value="Aros">Aros</option>
                    <option value="Anillos y Midis">Anillos y Midis</option>
                    <option value="Cadenas y Dijes">Cadenas y Dijes</option>
                    <option value="Pulseras">Pulseras</option>
                    <option value="Tobilleras">Tobilleras</option>
                    <option value="Accesorios">Accesorios</option>
                    <option value="Ruanas y Pañuelos">Ruanas y Pañuelos</option>
                    <option value="Ellos">Ellos</option>
                    <option value="Oulet">Oulet</option>
                </select>
            </div>
            <br>
            <div class="archivo"action="/action_page.php">
                <label for="myfile">Cambiar foto actual: </label>
                <input type="file" id="fotoProducto" name="fotoProducto" value="<%= productoAEditar.fotoProducto %>">
                <br><br>
            </div>
            <br>
            <h6 style="font-weight: bold;">Unidades disponibles por medidas:</h6>
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="registroSStock" name= "SStock" placeholder="SStock"  value="<%= productoAEditar.SStock %>"></input>
                <label for="registroSStock">Small Stock:</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="registroMStock" name= "MStock" placeholder="MStock"  value="<%= productoAEditar.MStock %>"></input>
                <label for="registroMStock">Medium Stock:</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="registroLStock" name= "LStock" placeholder="LStock"  value="<%= productoAEditar.LStock %>"></input>
                <label for="registroLStock">Large Stock:</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="registroXLStock" name= "XLStock" placeholder="XLStock"  value="<%= productoAEditar.XLStock %>"></input>
                <label for="registroXLStock">ExtraLarge Stock:</label>
            </div>


            <div class="enviar">
                <button type="submit">Enviar</button>
            </div>
            <br>
            <div class="enviar">
                <button type="reset">Borrar Datos</button>
            </div>
        </form>
        <!-- <div>
            <p class="tenescuenta">Ya tenés cuenta?  <a href="/Login">Iniciá sesión acá</a></p>
        </div> -->
    </div>
<!-- Footer -->
<%- include('../partials/footer.ejs') %>     
</body>
</html>
