<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>
<body>
<!-- Header -->
<%- include('../partials/header') %> 
<!-- Main -->    
    <section class="section-product">
        <div class="row">
            <div class="col-8 section-product-left-side">
                <div class="product-principal-img" >
                    <img src="/img/<%= productoDetalle.image %>" alt="" class="principal-photo" id="foto">
                </div>

                <br>
                <br>

                <div>
                    <h3 class="title-otras-personas">Otras personas también buscaron</h3>
                    <div class="product-secondary-imgs">
                        <img src="/img/productos/2000_5e978cca7490a.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5eff33d99633b.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5eff43ca88f1e.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5f4579eaa2e41.jpg" alt="" class="secondary-photo">
                    </div>
                </div>
            </div>
            
            <div class="col section-product-right-side">
                <h3 id="nombre" style="display: inline;"><%=productoDetalle.name%> </h3>
                <!-- <button style="background: none;"><i class="far fa-heart"></i></button> -->
                <i class="far fa-heart" style="cursor: pointer; font-size: 1.25rem;" onclick="agregarAFavoritos(this)"></i>
                <i class="fas fa-share-alt"></i>
                <p class="breadcrum">Página de inicio / PRODUCTOS / AROS / ARGOLLAS / <%=productoDetalle.name%></p>
                <p class="price" id="precio">$ <%=productoDetalle.price%></p>

                <!-- <label for="medida">Medida:</label>
                <select name="medida" id="medida">
                    <option value="BLANK"></option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select> -->
                <!-- <br>
                <br> -->
                <div class="input-group mb-3">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon1"><i class="fas fa-minus"></i></button>
                    <input type="text" class="amount-input" placeholder="" value="1">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
                </div>
                <!-- <p>Stock: <%= productoDetalle.stock %> </p> -->
                <div id="product_id" style="display: none;"><%=productoDetalle.id%></div>

                <div class="input-group mb-3">
                    <input type="text" class="postal-code-input" placeholder="Código Postal">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon2">Calcular Envío</button>
                </div>
                <a href="">No sé mi código postal</a>
                <br>
                <br>
                <div class="product-button-section">
                    <button class="btn btn-primary product-button" type="button" id="button-addon2">Comprar</button>
                    <!-- <br>
                    <br> -->
                    <button class="btn btn-outline-primary product-button" type="button" id="button-addon2" onclick="agregarAlCarrito()">Agregar al carrito</button>

                    <script>
                        function agregarAFavoritos(x) {
                            // x.classList.toggle("far");
                            if ( x.classList.contains( "far") ) {
                                x.classList.remove( "far" );
                                x.classList.add( "fas" );
                            }
                            else {
                                x.classList.remove( "fas" );
                                x.classList.add( "far" );
                            }
                            let yaExiste = false;
                            let producto = new Object();
                            producto.nombre = document.getElementById("nombre").innerHTML;
                            producto.precio = document.getElementById("precio").innerHTML.slice(2);
                            producto.imagen = document.getElementById("foto").src.slice(21);
                            producto.id = document.getElementById("product_id").innerHTML;
                         
                            let productos = sessionStorage.getItem("favoritos");
                            console.log("productos: " + productos);
                            if (productos == null) {
                                productos = [];
                            } else {
                                productos = JSON.parse(productos);
                            }
                            
                            for (var i = 0; i < productos.length; i++){
                                if (productos[i].nombre == producto.nombre){
                                    yaExiste = true;
                                    break;
                                }
                            }

                            if (!yaExiste){
                                productos.push(producto);

                            }

                            sessionStorage.setItem("favoritos", JSON.stringify(productos));
                            console.log("storage: " + sessionStorage.getItem("favoritos"));
                        }

                        function agregarAlCarrito() {
                            let yaExiste = false;
                            let producto = new Object();
                            producto.nombre = document.getElementById("nombre").innerHTML;
                            producto.precio = document.getElementById("precio").innerHTML.slice(2);
                            producto.imagen = document.getElementById("foto").src.slice(21);
                         
                            let productos = sessionStorage.getItem("carrito");
                            console.log("productos: " + productos);
                            if (productos == null) {
                                productos = [];
                            } else {
                                productos = JSON.parse(productos);
                            }
                            
                            for (var i = 0; i < productos.length; i++){
                                if (productos[i].nombre == producto.nombre){
                                    yaExiste = true;
                                    break;
                                }
                            }

                            if (!yaExiste){
                                productos.push(producto);

                            }

                            sessionStorage.setItem("carrito", JSON.stringify(productos));
                            console.log("storage: " + sessionStorage.getItem("carrito"));

                            openNav()
                        }
                    </script>

                    <br>
                    <br>
                    <% if (locals.isAdmin == 1) { %>
                    <button onclick="location.href='../editar/<%=productoDetalle.id%>'" type="button" class="btn btn-warning" >Editar Producto</button>
                    <br>
                    <form action="/products/<%=productoDetalle.id%>?_method=DELETE" method="POST" id= "form-delete-btn" onsubmit="return confirm('¿Desea eliminar el producto <%=productoDetalle.name%>?')">    
                        <button type="submit" class="btn btn-outline-danger">Eliminar Producto</button>
                    </form>
                    <% } %>

                    <!-- <br>
                    <br> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <%- include('../partials/footer') %>     
  </body>
  </html>
