<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
  <title>Home</title>
</head>
<body>
<!-- Header -->
<%- include('../partials/header') %> 
<!-- Main -->    
    <section class="section-product">
        <div class="row">
            <div class="col-8 section-product-left-side">
                <div class="product-principal-img" >
                    <img src="/img/productos/<%=productoDetalle.image%>" alt="" class="principal-photo" >
                </div>

                <br>
                <br>

                <div>
                    <h3 class="title-otras-personas">Otras personas también buscaron</h3>
                    <div class="product-secondary-imgs">
                        <img src="/img/productos/2000_5e978cca7490a.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5eff33d99633b.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5eff43ca88f1e.jpg" alt="" class="secondary-photo">
                        <img src="/img/productos/2000_5f4579eaa2e41.jpg" alt="" class="secondary-photo">
                    </div>
                </div>
            </div>
            
            <div class="col section-product-right-side">
                <h3><%=productoDetalle.name%> <i class="far fa-heart"></i> <i class="fas fa-share-alt"></i></h3>
                <p class="breadcrum">Página de inicio / PRODUCTOS / AROS / ARGOLLAS / <%=productoDetalle.name%></p>
                <p class="price">$ <%=productoDetalle.price%></p>

                <label for="medida">Medida:</label>
                <select name="medida" id="medida">
                    <option value="BLANK"></option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <br>
                <br>
                <div class="input-group mb-3">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon1"><i class="fas fa-minus"></i></button>
                    <input type="text" class="amount-input" placeholder="" value="1">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
                </div>
                <p>Stock: 99</p>

                <div class="input-group mb-3">
                    <input type="text" class="postal-code-input" placeholder="Código Postal">
                    <button class="btn btn-secondary btn-sm" type="button" id="button-addon2">Calcular Envío</button>
                </div>
                <a href="">No sé mi código postal</a>
                <br>
                <br>
                <div class="product-button-section">
                    <button class="btn btn-primary product-button" type="button" id="button-addon2">Comprar</button>
                    <br>
                    <br>
                    <button class="btn btn-outline-primary product-button" type="button" id="button-addon2">Agregar al carrito</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
  <%- include('../partials/footer') %>     
</body>
</html>
